@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e902";
  color: #fff;
}

._icon-tg:before {
  content: "\e900";
  color: #fff;
}

._icon-vk:before {
  content: "\e901";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(255, 255, 255);
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: rgb(33, 14, 9);
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 2px solid rgb(213, 98, 29);
  background-color: rgb(213, 98, 29);
  padding: 1.25rem 2.5rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 0 3.75rem 1.25rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
  border: 2px solid rgb(213, 98, 29);
  background-color: rgb(213, 98, 29);
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__title {
  background-color: rgba(213, 98, 29, 0.05);
  font-weight: 700;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
  padding: 0.75rem 0.9375rem;
  border-radius: 0.375rem 0.375rem 0 0;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.tabs__title._tab-active {
  background-color: rgba(213, 98, 29, 0.1);
}

.tabs__content {
  padding: 0.625rem 0.9375rem;
  border-radius: 0 0 0.375rem 0.375rem;
  background-color: rgba(213, 98, 29, 0.1);
}

.concert__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, 1fr))[2];
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  justify-items: center;
}

@supports (padding: clamp( 0.0625rem , -0.613444334rem  +  3.37972167vw , 2.1875rem )) {
  .concert__body {
    padding: clamp( 0.0625rem , -0.613444334rem  +  3.37972167vw , 2.1875rem );
  }
}

@supports not (padding: clamp( 0.0625rem , -0.613444334rem  +  3.37972167vw , 2.1875rem )) {
  .concert__body {
    padding: calc(0.0625rem + 2.125 * (100vw - 20rem) / 62.875);
  }
}

@supports (gap: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem )) {
  .concert__body {
    gap: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem )) {
  .concert__body {
    gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 62.875);
  }
}

.concert__group {
  display: block;
  width: 10rem;
  height: 12.5rem;
  position: relative;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.concert__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@supports (padding: clamp( 0.3125rem , -0.0851143141rem  +  1.9880715706vw , 1.5625rem )) {
  .page {
    padding: clamp( 0.3125rem , -0.0851143141rem  +  1.9880715706vw , 1.5625rem );
  }
}

@supports not (padding: clamp( 0.3125rem , -0.0851143141rem  +  1.9880715706vw , 1.5625rem )) {
  .page {
    padding: calc(0.3125rem + 1.25 * (100vw - 20rem) / 62.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0857355865rem  +  8.9463220676vw , 7.5rem )) {
  .page__news {
    padding-bottom: clamp( 1.875rem , 0.0857355865rem  +  8.9463220676vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0857355865rem  +  8.9463220676vw , 7.5rem )) {
  .page__news {
    padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 62.875);
  }
}

@supports (margin-bottom: clamp( 1.875rem , -0.5106858847rem  +  11.9284294235vw , 9.375rem )) {
  .page__events {
    margin-bottom: clamp( 1.875rem , -0.5106858847rem  +  11.9284294235vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.5106858847rem  +  11.9284294235vw , 9.375rem )) {
  .page__events {
    margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 62.875);
  }
}

.btn {
  border: 0.125rem solid rgb(213, 98, 29);
  border-radius: 0.3125rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 0.9375rem 1.875rem;
  text-transform: uppercase;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn_arrow {
  background-color: rgb(213, 98, 29);
  width: 50rem;
  height: 50rem;
}

.btn_price {
  padding: 0.625rem 1.25rem;
}

.btn_background-color {
  background-color: rgb(213, 98, 29);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05625rem;
}

.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , 0.0285785288rem  +  2.9821073559vw , 2.5rem )) {
  .block-title {
    gap: clamp( 0.625rem , 0.0285785288rem  +  2.9821073559vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.0285785288rem  +  2.9821073559vw , 2.5rem )) {
  .block-title {
    gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 62.875);
  }
}

.block-title__sub-title {
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 14, 9);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
}

.block-title__sub-title_big-size {
  font-size: 18px;
}

.block-title__title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.75rem , 1.5114314115rem  +  1.1928429423vw , 2.5rem )) {
  .block-title__title {
    font-size: clamp( 1.75rem , 1.5114314115rem  +  1.1928429423vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5114314115rem  +  1.1928429423vw , 2.5rem )) {
  .block-title__title {
    font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 62.875);
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.7585735586rem  +  0.8946322068vw , 1.5rem )) {
  .news {
    gap: clamp( 0.9375rem , 0.7585735586rem  +  0.8946322068vw , 1.5rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.7585735586rem  +  0.8946322068vw , 1.5rem )) {
  .news {
    gap: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 62.875);
  }
}

.nearest {
  position: relative;
  width: 100%;
  min-height: 21.875rem;
  border-radius: 0.375rem;
  overflow: hidden;
}

.nearest__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nearest__info {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@supports (padding-left: clamp( 0.0000000625rem , -1.19284286rem  +  5.9642146123vw , 3.75rem )) {
  .nearest__info {
    padding-left: clamp( 0.0000000625rem , -1.19284286rem  +  5.9642146123vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -1.19284286rem  +  5.9642146123vw , 3.75rem )) {
  .nearest__info {
    padding-left: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 62.875);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -0.8946321244rem  +  4.4731609344vw , 2.8125rem )) {
  .nearest__info {
    padding-bottom: clamp( 0.0000000625rem , -0.8946321244rem  +  4.4731609344vw , 2.8125rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -0.8946321244rem  +  4.4731609344vw , 2.8125rem )) {
  .nearest__info {
    padding-bottom: calc(0.0000000625rem + 2.8124999375 * (100vw - 20rem) / 62.875);
  }
}

.nearest__date {
  background-color: rgb(255, 255, 255);
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05625rem;
  text-transform: uppercase;
  color: rgb(33, 14, 9);
}

@supports (margin-bottom: clamp( 0.625rem , 0.0882206759rem  +  2.6838966203vw , 2.3125rem )) {
  .nearest__date:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.0882206759rem  +  2.6838966203vw , 2.3125rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.0882206759rem  +  2.6838966203vw , 2.3125rem )) {
  .nearest__date:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.6875 * (100vw - 20rem) / 62.875);
  }
}

.nearest__title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  max-width: 38.75rem;
}

.kitchen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (padding-top: clamp( 4.375rem , 4.1761928429rem  +  0.9940357853vw , 5rem )) {
  .kitchen__slider {
    padding-top: clamp( 4.375rem , 4.1761928429rem  +  0.9940357853vw , 5rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 4.1761928429rem  +  0.9940357853vw , 5rem )) {
  .kitchen__slider {
    padding-top: calc(4.375rem + 0.625 * (100vw - 20rem) / 62.875);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.1509691849rem  +  7.0576540755vw , 6rem )) {
  .kitchen__slider {
    padding-bottom: clamp( 1.5625rem , 0.1509691849rem  +  7.0576540755vw , 6rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.1509691849rem  +  7.0576540755vw , 6rem )) {
  .kitchen__slider {
    padding-bottom: calc(1.5625rem + 4.4375 * (100vw - 20rem) / 62.875);
  }
}

.kitchen__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

@supports (padding-left: clamp( 3.125rem , 1.9321570577rem  +  5.9642147117vw , 6.875rem )) {
  .kitchen__menu {
    padding-left: clamp( 3.125rem , 1.9321570577rem  +  5.9642147117vw , 6.875rem );
  }
}

@supports not (padding-left: clamp( 3.125rem , 1.9321570577rem  +  5.9642147117vw , 6.875rem )) {
  .kitchen__menu {
    padding-left: calc(3.125rem + 3.75 * (100vw - 20rem) / 62.875);
  }
}

@supports (padding-right: clamp( 3.125rem , 1.9321570577rem  +  5.9642147117vw , 6.875rem )) {
  .kitchen__menu {
    padding-right: clamp( 3.125rem , 1.9321570577rem  +  5.9642147117vw , 6.875rem );
  }
}

@supports not (padding-right: clamp( 3.125rem , 1.9321570577rem  +  5.9642147117vw , 6.875rem )) {
  .kitchen__menu {
    padding-right: calc(3.125rem + 3.75 * (100vw - 20rem) / 62.875);
  }
}

@supports (row-gap: clamp( 0.9375rem , 0.1223906561rem  +  4.0755467197vw , 3.5rem )) {
  .kitchen__menu {
    row-gap: clamp( 0.9375rem , 0.1223906561rem  +  4.0755467197vw , 3.5rem );
  }
}

@supports not (row-gap: clamp( 0.9375rem , 0.1223906561rem  +  4.0755467197vw , 3.5rem )) {
  .kitchen__menu {
    row-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 62.875);
  }
}

.kitchen__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-bottom: clamp( 1.25rem , -1.3344930417rem  +  12.9224652087vw , 9.375rem )) {
  .kitchen__btn {
    margin-bottom: clamp( 1.25rem , -1.3344930417rem  +  12.9224652087vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3344930417rem  +  12.9224652087vw , 9.375rem )) {
  .kitchen__btn {
    margin-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 62.875);
  }
}

.menu-kitchen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem )) {
  .menu-kitchen {
    gap: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem )) {
  .menu-kitchen {
    gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 62.875);
  }
}

.menu-kitchen__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  position: relative;
  height: 6.875rem;
}

.menu-kitchen__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-kitchen__body {
  min-width: 15rem;
}

.menu-kitchen__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-kitchen__name {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05625rem;
  text-transform: uppercase;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.menu-kitchen__name:hover {
  color: rgb(213, 98, 29);
}

.menu-kitchen__price {
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0.125rem solid rgb(213, 98, 29);
}

.menu-kitchen__weight {
  color: rgb(213, 98, 29);
}

.menu-kitchen__weight:not(:last-child) {
  margin-bottom: 10px;
}

.menu-kitchen__info {
  line-height: 1.5;
}

.events {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 2.75rem;
}

.events__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , 0.1279821074rem  +  2.4850894632vw , 2.1875rem )) {
  .events__body {
    gap: clamp( 0.625rem , 0.1279821074rem  +  2.4850894632vw , 2.1875rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.1279821074rem  +  2.4850894632vw , 2.1875rem )) {
  .events__body {
    gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 62.875);
  }
}

.events__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 0.9375rem;
}

.events__block-img {
  position: relative;
  padding-bottom: 18.75rem;
  border-radius: 5px;
  overflow: hidden;
}

.events__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (margin-bottom: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem )) {
  .party__block-title {
    margin-bottom: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8809642147rem  +  4.9701789264vw , 5rem )) {
  .party__block-title {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 62.875);
  }
}

.party__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
}

.party__instruments:not(:last-child) {
  margin-bottom: 2.5rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.0285785288rem  +  2.9821073559vw , 2.5rem )) {
  .party__instruments:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.0285785288rem  +  2.9821073559vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.0285785288rem  +  2.9821073559vw , 2.5rem )) {
  .party__instruments:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 62.875);
  }
}

.party__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}

.party__item {
  list-style: disc;
  line-height: 1.5;
  font-weight: 400;
}

@supports (margin-bottom: clamp( 1.875rem , -0.5106858847rem  +  11.9284294235vw , 9.375rem )) {
  .party__sound-directors {
    margin-bottom: clamp( 1.875rem , -0.5106858847rem  +  11.9284294235vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.5106858847rem  +  11.9284294235vw , 9.375rem )) {
  .party__sound-directors {
    margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 62.875);
  }
}

.sound-directors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sound-directors__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  max-width: 25.9375rem;
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0654821074rem  +  2.4850894632vw , 3.125rem )) {
  .sound-directors__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 1.0654821074rem  +  2.4850894632vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0654821074rem  +  2.4850894632vw , 3.125rem )) {
  .sound-directors__title:not(:last-child) {
    margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 62.875);
  }
}

.sound-directors__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.card-sound-directors__foto {
  position: relative;
  overflow: hidden;
  border-radius: 0.3125rem;
  width: 12.25rem;
  height: 13.125rem;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (margin-bottom: clamp( 1.25rem , 1.0511928429rem  +  0.9940357853vw , 1.875rem )) {
  .card-sound-directors__foto:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.0511928429rem  +  0.9940357853vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0511928429rem  +  0.9940357853vw , 1.875rem )) {
  .card-sound-directors__foto:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 62.875);
  }
}

.card-sound-directors__name {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
  min-width: 9.75rem;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem )) {
  .card-sound-directors__name:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7386928429rem  +  0.9940357853vw , 1.5625rem )) {
  .card-sound-directors__name:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 62.875);
  }
}

.card-sound-directors__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5625rem;
}

.card-sound-directors__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 0.125rem solid rgb(213, 98, 29);
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}

@supports (padding-top: clamp( 0.9375rem , 0.6392892644rem  +  1.4910536779vw , 1.875rem )) {
  .header {
    padding-top: clamp( 0.9375rem , 0.6392892644rem  +  1.4910536779vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6392892644rem  +  1.4910536779vw , 1.875rem )) {
  .header {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 62.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6392892644rem  +  1.4910536779vw , 1.875rem )) {
  .header {
    padding-bottom: clamp( 0.9375rem , 0.6392892644rem  +  1.4910536779vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6392892644rem  +  1.4910536779vw , 1.875rem )) {
  .header {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 62.875);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  z-index: 5;
}

.header__menu {
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.header__btn {
  position: relative;
  z-index: 5;
}

.header__block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.menu__item {
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.icon-menu {
  display: none;
}

@supports (margin-bottom: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem )) {
  .footer__block-title:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.7666500994rem  +  6.958250497vw , 5rem )) {
  .footer__block-title:not(:last-child) {
    margin-bottom: calc(0.625rem + 4.375 * (100vw - 20rem) / 62.875);
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@supports (padding-bottom: clamp( 1.25rem , -0.3404572565rem  +  7.9522862823vw , 6.25rem )) {
  .footer__body {
    padding-bottom: clamp( 1.25rem , -0.3404572565rem  +  7.9522862823vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.3404572565rem  +  7.9522862823vw , 6.25rem )) {
  .footer__body {
    padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 62.875);
  }
}

.footer__map {
  width: 100%;
  min-height: 25rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid rgb(213, 98, 29);
}

.footer__license {
  padding: 1.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.info-footer {
  display: -ms-grid;
  display: grid;
  border-radius: 0.3125rem;
  border: 0.125rem solid rgb(213, 98, 29);
  background: rgba(213, 98, 29, 0.1);
  min-width: 16.875rem;
}

@supports (padding: clamp( 0.9375rem , 0.2416749503rem  +  3.4791252485vw , 3.125rem )) {
  .info-footer {
    padding: clamp( 0.9375rem , 0.2416749503rem  +  3.4791252485vw , 3.125rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.2416749503rem  +  3.4791252485vw , 3.125rem )) {
  .info-footer {
    padding: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 62.875);
  }
}

@supports (gap: clamp( 1.25rem , 0.9517892644rem  +  1.4910536779vw , 2.1875rem )) {
  .info-footer {
    gap: clamp( 1.25rem , 0.9517892644rem  +  1.4910536779vw , 2.1875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.9517892644rem  +  1.4910536779vw , 2.1875rem )) {
  .info-footer {
    gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 62.875);
  }
}

.info-footer__item {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 0.625rem , 0.4261928429rem  +  0.9940357853vw , 1.25rem )) {
  .info-footer__item {
    gap: clamp( 0.625rem , 0.4261928429rem  +  0.9940357853vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.4261928429rem  +  0.9940357853vw , 1.25rem )) {
  .info-footer__item {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 62.875);
  }
}

.info-footer__title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.05625rem;
  text-transform: uppercase;
}

.info-footer__text {
  line-height: 150%;
}

.info-footer__tel {
  white-space: nowrap;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.swiper {
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: block;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(213, 98, 29);
  border-radius: 5px;
  border: 2px solid rgb(213, 98, 29);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 5;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(213, 98, 29, 0.3);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  border: 2px solid transparent;
}

.swiper-button-prev {
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(0deg);
      -ms-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
}

.swiper-button-next {
  right: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

@media (max-width: 50em) {
@supports (padding-left: clamp( 0.625rem , 0.4261928429rem  +  0.9940357853vw , 1.25rem )) {
    .nearest__info {
      padding-left: clamp( 0.625rem , 0.4261928429rem  +  0.9940357853vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.4261928429rem  +  0.9940357853vw , 1.25rem )) {
    .nearest__info {
      padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 62.875);
    }
}
}

@media (max-width: 479.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 0%;
  }

  .swiper-button-prev {
    -webkit-transform: translate(0, 0) rotate(0deg);
        -ms-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }

  .swiper-button-next {
    -webkit-transform: translate(0, 0) rotate(180deg);
        -ms-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
  }
}

@media (max-width: 25em) {
  .tabs {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 65.625em) {
  .kitchen__menu {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

@supports (row-gap: clamp( 1.5625rem , 1.3438121272rem  +  1.0934393638vw , 2.25rem )) {
    .kitchen__menu {
      row-gap: clamp( 1.5625rem , 1.3438121272rem  +  1.0934393638vw , 2.25rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 1.3438121272rem  +  1.0934393638vw , 2.25rem )) {
    .kitchen__menu {
      row-gap: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 62.875);
    }
}

  .menu-kitchen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 61.99875em) {
  .nearest__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nearest__info {
    height: 21.875rem;
  }

  .party__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .menu__body {
    position: fixed;
    z-index: 3;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 1.875rem 0.9375rem;
    background-color: rgba(33, 14, 9, 0.95);
  }

@supports (padding-top: clamp( 5.3125rem , 4.7956013917rem  +  2.5844930417vw , 6.9375rem )) {
    .menu__body {
      padding-top: clamp( 5.3125rem , 4.7956013917rem  +  2.5844930417vw , 6.9375rem );
    }
}

@supports not (padding-top: clamp( 5.3125rem , 4.7956013917rem  +  2.5844930417vw , 6.9375rem )) {
    .menu__body {
      padding-top: calc(5.3125rem + 1.625 * (100vw - 20rem) / 62.875);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: rgb(33, 14, 9);
    z-index: 2;
  }

@supports (height: clamp( 5.3125rem , 4.7956013917rem  +  2.5844930417vw , 6.9375rem )) {
    .menu__body::before {
      height: clamp( 5.3125rem , 4.7956013917rem  +  2.5844930417vw , 6.9375rem );
    }
}

@supports not (height: clamp( 5.3125rem , 4.7956013917rem  +  2.5844930417vw , 6.9375rem )) {
    .menu__body::before {
      height: calc(5.3125rem + 1.625 * (100vw - 20rem) / 62.875);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(213, 98, 29);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 43.75em) {
  .kitchen__menu {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 31.25em) {
  .btn {
    padding: 0.625rem 0.625rem;
  }

  .header__container {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }

  .header__logo {
    height: 30px;
  }

  .header__menu {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .header__block-btn {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer__license {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .tabs__content {
    padding: 0.625rem 0.5rem;
  }

  .concert__body {
    -ms-grid-columns: (minmax(130px, 1fr))[2];
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }

  .concert__group {
    width: 8.125rem;
  }

  .nearest__title {
    font-size: 1.5625rem;
  }

  .kitchen__menu {
    padding-left: 0;
    padding-right: 0;
  }

  .sound-directors__title {
    font-size: 24px;
  }

  .sound-directors__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .tabs__title:hover {
    color: rgb(213, 98, 29);
  }

  .concert__group:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .btn:hover {
    background-color: rgb(213, 98, 29);
  }

  .btn:hover.btn_background-color {
    background-color: transparent;
  }

  .btn:active {
    border: 0.125rem solid transparent;
  }

  .card-sound-directors__link:hover {
    background-color: rgb(213, 98, 29);
  }

  .menu__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -100%;
    bottom: 0px;
    height: 0.125rem;
    width: 100%;
    background-color: rgb(213, 98, 29);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__item:hover::after {
    left: 0;
  }

  .menu__item:hover .menu__link {
    color: rgb(213, 98, 29);
  }

  .info-footer__tel:hover {
    color: rgb(213, 98, 29);
  }
}