@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("reset.css");

[class*='__container'] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* [class*='__info-box'] {
    max-width: 816px;
    margin: 0 auto;
} */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.header {
    background: url('../img/bg.jpg') center / cover no-repeat;
}

.header__title-box {
    padding: 330px 0 100px 0;
}

.header__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #F8F9FA;
    max-width: 605px;
    margin-bottom: 15px;
}

.header__text {
    font-size: 12px;
    line-height: 20px;
    color: #E5E5E5;
    margin-bottom: 15px;
}

.text-header {
    margin-bottom: 0;
}

.main {
    background: url('../img/opac.png') 95% center  no-repeat, #F4F7FF url('../img/opac.png') 90% center  no-repeat;
    font-family: 'Inter', sans-serif;
    color: #637381;
    font-weight: 500;
    font-size: 16px;
}

.main__container {
    background: url('../img/speaker 1.png') 83% center  no-repeat;
    padding: 145px 15px;
}

.main__main-info-box {
    max-width: 570px;
}

.main__text-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #3056D3;
    margin-bottom: 13px;
}

.main__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #212B36;
    margin-bottom: 15px;
}

.main__text {
    margin-bottom: 35px;
}

.main__btn {
    display: inline-block;
    color: white;
    background: #3056D3;
    border-radius: 30px;
    text-align: center;
    padding: 10px 30px;
}

.footer {
    padding: 100px 0;
    background: rgb(5,119,246);
background: linear-gradient(16deg, rgba(5,119,246,0.4514180672268907) 0%, rgba(252,254,0,0.4318102240896359) 100%);
}

.footer__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #212B36;
    margin-bottom: 45px;
}

.footer-list {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #637381;
    margin-bottom: 60px;
}

.footer-item {
    margin-bottom: 18px;
    padding-left: 30px;
    padding-top: 2px;
    min-height: 20px;
}

.circle {
    padding-left: 20px;
    background: url('../img/circle.png') 0 5px no-repeat;
}

.circle-blue {
    background: url('../img/circle-blue.png') 0 0 no-repeat;
}

.circle-green {
    background: url('../img/circle-green.png') 0 0 no-repeat;
}

.circle-red {
    background: url('../img/circle-red.png') 0 0 no-repeat;
}

.vector {
    background: url('../img/vector.png') 0 5px no-repeat;
}

.star {
    background: url('../img/star.png') 0 0 no-repeat;

}